h1{
    font-size: small;
    width: 900px;
    text-align: center;
}
div{
    border-style: outset;
    width: 900px;
}
table{
    width: 100%;
    text-align: center;
    border-color:rgb(165, 165, 165);
}
td, th {
    border-style: inset;
    padding-right: 6px;
    padding-bottom: 4px;
    border-width: 2px;
    font-weight: 1000;
}
th{
    background-color: palegreen;
}
.celda2{
    background-color: aqua;
    text-align: left !important;
}
.celda6{
    background-color: hotpink;
    text-align: right !important;
    vertical-align: bottom;
}
.col2{
    color: red;
}