div{
    border-style: outset;
    width: 400px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: inset;
    border-color: rgb(67, 150, 245);
    padding-right: 6px;
    background-color: Lightgreen;
    padding-bottom: 4px;
}
th{
    text-align: center;
    color: Lightgreen;
    font-weight: 1000;
    background-color:rgb(25, 75, 47) !important;
}
.musculacion {
    background-color:rgb(128, 192, 128) !important;
}
tr>:nth-child(2){
    text-align: center;
}
