div{
    border-style: outset;
    width: 600px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td {
    border: solid;
    border-color: rgb(67, 150, 245);
    padding-right: 6px;
    padding-bottom: 4px;
}
.titulo{
    text-align: center;
    color: Lightgreen;
    font-weight: 1000;
    background-color:rgb(25, 75, 47) !important;
}
tr:nth-child(odd) {
    background-color:rgb(128, 192, 128);
}
tr:nth-child(even) {
    background-color: Lightgreen;
}