.container{
    position:relative;
    text-align: center;
    
}
.celdas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: outset;
    width: 900px;
}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
td {
    border-style: outset;
    border-color:rgb(192, 192, 191);
    padding-right: 6px;
    padding-bottom: 4px;
    border-width: 3px;
    font-weight: 1000;
    background-color: khaki;
}
th{
    text-align: center;
    border-style: outset;
    border-color: rgb(192, 192, 191);
    font-weight: 1000;
    background-color: white;
    padding-right: 6px;
    padding-bottom: 4px;
    border-width: 3px;
}